@model OS_GJ_Tutoring.Models.BookDB

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BookDB</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurName" class="control-label"></label>
                <input asp-for="SurName" class="form-control" />
                <span asp-validation-for="SurName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketoneQty" class="control-label"></label>
                <input asp-for="TicketoneQty" class="form-control" />
                <span asp-validation-for="TicketoneQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TickettwoQty" class="control-label"></label>
                <input asp-for="TickettwoQty" class="form-control" />
                <span asp-validation-for="TickettwoQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketthreeQty" class="control-label"></label>
                <input asp-for="TicketthreeQty" class="form-control" />
                <span asp-validation-for="TicketthreeQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketfourQty" class="control-label"></label>
                <input asp-for="TicketfourQty" class="form-control" />
                <span asp-validation-for="TicketfourQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketfiveQty" class="control-label"></label>
                <input asp-for="TicketfiveQty" class="form-control" />
                <span asp-validation-for="TicketfiveQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketsixQty" class="control-label"></label>
                <input asp-for="TicketsixQty" class="form-control" />
                <span asp-validation-for="TicketsixQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketsevenQty" class="control-label"></label>
                <input asp-for="TicketsevenQty" class="form-control" />
                <span asp-validation-for="TicketsevenQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketeightQty" class="control-label"></label>
                <input asp-for="TicketeightQty" class="form-control" />
                <span asp-validation-for="TicketeightQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearPass" class="control-label"></label>
                @Html.DropDownListFor(Model => Model.YearPass,
                         new SelectList(ViewBag.YearPasses, "Pass Type"),
                         "Select Pass",
                         new { @class = "form-control" })
                
                <span asp-validation-for="YearPass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
