@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--Home bar-->

<div class="home_bar">
    <h6>Booking</h6>
</div>

<h1>What do you wish to book</h1>

<div class="book-grid">

    <div class="book-item">
        <a href="https://www.marwell.org.uk/education/free-resources/key-stage-1/">
            <img src="~/css/Educational_visit.jpg" alt="Geography video" class="image1-image" />
        </a>
        <h3>Zoo Tickets</h3>
        <a href="/BookDB/Create/">BOOK NOW!</a>
    </div>
    
    <div class="book-item">
            <a href="https://www.marwell.org.uk/education/free-resources/key-stage-2/">
                <img src="~/css/resource_ks2.jpg" alt="Marketing video" class="image2-image" />
            </a>
            <h3>Lodge Bookings</h3>
            <a href="/StayDB/Create/">BOOK NOW!</a>
    </div>
        
</div>        