@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--Home bar-->

<div class="home_bar">
    <h6>Booking</h6>
</div>


<div class="book_content">

    <img src="~/css/login_image.jpg" alt="red panda" class="book_image">

    <div class="book_item">

        <div class="book_text">
            <h1>Choose Your Booking:</h1>
        </div>


        <div class="book-grid">

            <div class="book-item">
                <a href="/BookDB/Create/">
                    <img src="~/css/Zoo_ticket_image.jpg" alt="Giraffe Zoo Booking" class="image1-image" />
                </a>
                <h3>Zoo Tickets</h3>
                <a href="/BookDB/Create/">BOOK NOW!</a>

                <div class="Book_button">

                        <a href="/BookDB/Index/">View Bookings</a>
                </div>
            </div>

            <div class="book-item">
                <a href="/StayDB/Create/">
                    <img src="~/css/lodge_landscape.jpg" alt="Lodge Booking" class="image2-image" />
                </a>
                <h3>Lodge Bookings</h3>
                <a href="/StayDB/Create/">BOOK NOW!</a>

                <div class="Book_button">

                    <a href="/StayDB/Index/">View Bookings</a>
                </div>
            </div>

        </div>


</div>

    