@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--Home bar-->
<div class="home_bar">
    <h6>Contact Us</h6>
</div>

<!--Side bar with list of pages-->

<nav class="bar">

    <ul>

        <div class="toggle">
            <span class="top_line common"></span>
            <span class="middle_line common"></span>
            <span class="bottom_line common"></span>
        </div>

        <h1>On this Page</h1>

        <li><a href="/Home/Contact">Email</a></li>
        <li><a href="/Home/Contact">Phone</a></li>
        <li><a href="/Home/Contact">Social Media</a></li>
        <li><a href="/Home/Contact">Adress</a></li>



    </ul>


</nav>

<div class="internal_page">
    
    <h1>Contact Us:</h1>
    <p>If you have any questions or inquiries feel freeto contact us using the information bellow...</p>
    
    <h2>Email</h2>
    <h6>You can reach us via email at: info@rza.com</h6>

    <h2>Phone</h2>
    <h6>Give us a ring at +44 1836484783</h6>

    
    <h2>Social Media</h2>
    <h6>Conect with us on our socials: <br/><a href="#">Facebook</a><br/><a href="#">Instagram</a><br/><a href="#">TikTok</a></h6>

    
    <h2>Adress</h2>
    <h6>Visit our location at:<br/><br/>Ridget Zoo Adventures<br/>364 Lion Lane<br/>Wilkashire, GK24S<br/></h6>

    
</div>