@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard";

}

<!--Home bar-->


<div class="home_bar">
    <h6>Dashboard</h6>
</div>

<!--Side bar with list of pages-->

<nav class="bar">

    <ul>

        <div class="toggle">
            <span class="top_line common"></span>
            <span class="middle_line common"></span>
            <span class="bottom_line common"></span>
        </div>

        <h1>Menu</h1>

        <li><a href="/Home/Dashboard">Dashboard</a></li>
        <li><a href="/Home/Resources">Resources</a></li>
        <li><a href="/SessionsDBs/Index">Sessions</a></li>
        <li><a href="/Home/Quizzes">Quizzes</a></li>
        <li><a href="/Home/Discussion_Forum">Discussion Forum</a></li>
        <li><a href="/CoursesDBs/Index">Courses</a></li>



    </ul>


</nav>

<div class="internal_page">

    <h1>Dashboard</h1>
    <p>View your progress here:</p>

    <div style="width: 600px; margin: 0 auto;">
        <canvas id="myBarChart"></canvas>
    </div>

    <script>
        // Retrieve data from model
        const labels = @Html.Raw(Json.Serialize(Model.Labels));
        const values = @Html.Raw(Json.Serialize(Model.Values));

        //Bar chart.js set up
        const ctx = document.getElementById('myBarChart').getContext('2d');
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Performance Metrics',
                    data: values,
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(153, 102, 255, 0.2)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(153, 102, 255, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

</div>
