@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--Home bar-->
<div class="home_bar">
    <h6>Discussion Forum</h6>
</div>

<!--Side bar with list of pages-->

<nav class="bar">

    <ul>

        <div class="toggle">
            <span class="top_line common"></span>
            <span class="middle_line common"></span>
            <span class="bottom_line common"></span>
        </div>

        <h1>Menu</h1>

        <li><a href="/Home/Dashboard">Dashboard</a></li>
        <li><a href="/Home/Resources">Resources</a></li>
        <li><a href="/SessionsDBs/Index">Sessions</a></li>
        <li><a href="/Home/Quizzes">Quizzes</a></li>
        <li><a href="/Home/Discussion_Forum">Discussion Forum</a></li>
        <li><a href="/CoursesDBs/Index">Courses</a></li>



    </ul>


</nav>


<div class="internal_page">

    <div class="dfbox_container">
        <div class="dfbox">
            <div class="dfbox_text">
                <h1>Discussion Forum</h1>
                <p>Ask or respond to your tutors and peers</p>
            </div>
        </div>

    </div>


    <div class="chatbox">
        <div class="chat_header">Chat</div>
        <div class="chat_window">
            <ul class="message_list"></ul>
            <div class="chat">
                <span>Hello, what is pythagorus theorum</span>
            </div>
        </div>
        <div class="chat_input">
            <input type="text" class="message_input" placeholder="Type your questions / answers here">
            <button class="send_button">Send</button>
        </div>
    </div>
</div>