@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--Home bar-->
<div class="home_bar">
    <h6>Education</h6>
</div>

<!--Side bar with list of pages-->
<nav class="bar">
    <ul>
        <div class="toggle">
            <span class="top_line common"></span>
            <span class="middle_line common"></span>
            <span class="bottom_line common"></span>
        </div>

        <h1>On This Page</h1>

        <li><a href="/Home/Dashboard">Book Now</a></li>
        <li><a href="/Home/Resources">The Experience</a></li>
        <li><a href="/SessionsDBs/Index">How to Book</a></li>
        <li><a href="/Home/Quizzes">Resources</a></li>
    </ul>
</nav>

<!--Top Image-->
<img src="~/css/edu_background.jpg" alt="Child looking into habitat" class="edu_top">

<div class="internal_page">
    
    <!--Add border to text for better contast-->
    <div class="font_border">
        <h1>Book Your Educational Trip Now!</h1>
        <p>Inspire the next generation with endless fun and learning for all ages at RZA.</p>
    </div>

    <!--Book button with link to book page-->
    <div class="Book_button">
        <a href="/BookDB/Create/">BOOK NOW!</a>
    </div>

    <!--Spread of educational servies-->
    <div class="edu_video-grid">
        
        <div class="edu_video-item">
            <h3>SCHOOL TRIPS</h3>
            <p>A unique and interesting experience, diversifying their learning from the everyday classroom. The young adults can step into a new world and explore species and at the same time foster a new passion.</p>
        </div>

        <div class="edu_video-item">
            <h3>WORKSHOPS</h3>
            <p>Our workshops are specificly designed to mirror the curriculum across all key stages. Bringing learning to life and can be adapted to any learners needs.</p>
        </div>

        <div class="edu_video-item">
            <h3>PRICING</h3>
            <p>Check our booking page for exclusive offers just for your trip. Add the number of students and additional adults and vuola, your class is all set for an unforgetable and fulfilling experience.</p>
        </div>
    </div>

    <!--Class for positioning-->
    <div class="edu_middle">
        <h2>Resources</h2>
        <h6>Fostering the minds of tommorows knowledge on the wild animals and conservation is a big priority of ours. Explore our collections bellow of educational resources tailored for each yeargroup.</h6>
    </div>

    <!--Educational Resources with links-->
    <div class="video-grid">

        <div class="video-item">
            <a href="https://www.marwell.org.uk/education/free-resources/key-stage-1/">
                <img src="~/css/Educational_visit.jpg" alt="Geography video" class="image1-image"/>
            </a>
            <h3>Resources KS1</h3>
        </div>

        <div class="video-item">
            <a href="https://www.marwell.org.uk/education/free-resources/key-stage-2/">
                <img src="~/css/resource_ks2.jpg" alt="Marketing video" class="image2-image"/>
            </a>
            <h3>Resources KS2</h3>
        </div>

        <div class="video-item">
            <a href="https://www.marwell.org.uk/education/free-resources/key-stage-3/">
                <img src="~/css/resource_ks4.jpg" alt="Business video" class="image3-image"/>
            </a>
            <h3>Resources KS3-4</h3>
        </div>

        <div class="video-item">
            <a href="https://www.marwell.org.uk/education/free-resources/post-16-resources/">
                <img src="~/css/resource_post16.jpg" alt="Mathematics video" class="image4-image"/>
            </a>
            <h3>Post-16 Resources</h3>
        </div>
    </div>

    <!--Contact Information-->
    <h2>Questions?</h2>
    <p>Contact us at Questions@rza.com for any of your queries.</p>
</div>