@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--Home bar-->

<div class="home_bar">
    <h6>Education</h6>
</div>

<!--Side bar with list of pages-->

<nav class="bar">

    <ul>

        <div class="toggle">
            <span class="top_line common"></span>
            <span class="middle_line common"></span>
            <span class="bottom_line common"></span>
        </div>

        <h1>On This Page</h1>

        <li><a href="/Home/Dashboard">Book Now</a></li>
        <li><a href="/Home/Resources">The Experience</a></li>
        <li><a href="/SessionsDBs/Index">How to Book</a></li>
        <li><a href="/Home/Quizzes">Resources</a></li>
        



    </ul>

</nav>

<div class="internal_page">

    <h1>Videos</h1>
    <p>Browse our selection of educational videos</p>


    <div class="video-grid">

        <div class="video-item">
            <a href="https://youtu.be/l1OkiI_29dg?list=PLp8BSCLLWBUBtATlFwiBu3x-g3lvemM38">
                <img src="~/css/Educational_visit.jpg" alt="Geography video" class="image1-image" />
            </a>
            <h3>Resources KS1</h3>
            <a href="#">Transcription</a>
        </div>

        <div class="video-item">
            <a href="https://youtu.be/RjAOPEIlZc8?list=PLcWPAWkNIoiBq95negTUX46GBsoaqaIut">
                <img src="~/css/resource_ks2.jpg" alt="Marketing video" class="image2-image" />
            </a>
            <h3>Resources KS2</h3>
            <a href="#">Transcription</a>
        </div>
       
        <div class="video-item">
            <a href="https://youtu.be/Uwg9Fx24pjg?list=PLEb-haXcornFlacP_oZQ5aVfQBsR-xOu2">
                <img src="~/css/resource_ks4.jpg" alt="Business video" class="image3-image" />
            </a>
            <h3>Resources KS3-4</h3>
            <a href="#">Transcription</a>
        </div>

        <div class="video-item">
            <a href="https://youtu.be/8-JI5sO3db4?list=PLqxP5EuGxPnfpX3abzZuycesdqlF6VR5-">
                <img src="~/css/resource_post16.jpg" alt="Mathematics video" class="image4-image" />
            </a>
            <h3>Post-16 Resources</h3>
            <a href="#">Transcription</a>
        </div>



    </div>
    
    
</div>