@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--Home bar-->

<div class="home_bar">
    <h6>Explore</h6>
</div>

<!--Side bar with list of pages-->

<nav class="bar">

    <ul>

        <div class="toggle">
            <span class="top_line common"></span>
            <span class="middle_line common"></span>
            <span class="bottom_line common"></span>
        </div>

        <h1>On this Page</h1>

        <li><a href="/Home/Dashboard">Explore</a></li>
        <li><a href="/Home/Resources">Our Safari</a></li>
        <li><a href="/SessionsDBs/Index">Services</a></li>
        <li><a href="/Home/Quizzes">Animal Profiles</a></li>
        <li><a href="/Home/Discussion_Forum">Gallery</a></li>



    </ul>


</nav>

<div class="internal_page">

    <h1>EXPLORE WHAT'S HERE</h1>
    <H6>‧WE PRIDE OURSELVES IN PROVIDING THE VERY BEST ANIMAL ADVENTURE EXPERIENCE FOR ALL AGES</H6>
    <p>We boast having over 10,000 animals here at RZA, Pass through the zoo and spot some of your most favourite animals,<br /> if not ride in style through our terains. Which is more your style? </p>


    <div class="explore_video-grid">

        <div class="explore_video-item">
            <a href="https://youtu.be/l1OkiI_29dg?list=PLp8BSCLLWBUBtATlFwiBu3x-g3lvemM38">
                <img src="~/css/walking_safari.jpg" alt="Geography video" class="image1-image" />
            </a>
            <h3>Walking Safari</h3>
            <a href="#">Get up close and personal with our walking tour, see the animals face to face and explore everything we have to offer... Trust us there's alot!</a>
        </div>

        <div class="explore_video-item">
            <a href="https://youtu.be/RjAOPEIlZc8?list=PLcWPAWkNIoiBq95negTUX46GBsoaqaIut">
                <img src="~/css/driving_safari.jpg" alt="Marketing video" class="image2-image" />
            </a>
            <h3>Driving Safari</h3>
            <a href="#">Enjoy the pleasure of Driving through our safari, where the animals have free rane. Excited? It's' almost as if we were out in the wild.</a>
        </div>

    </div> 
    
    <div class="quiz">

        <h1>Quizzes</h1>
        <p>‧₊˚✧Select a quiz bellow✧˚₊‧</p>
        <a>
            <span class="name">A level Business Quiz</span>
            <span class="play">Play</span>
        </a>

        <a>
            <span class="name">A level Mathematics Quiz</span>
            <span class="play">Play</span>
        </a>

        <a>
            <span class="name">GCSE Computer Science Quiz</span>
            <span class="play">Play</span>
        </a>

        <a>
            <span class="name">Classicism Art Quiz</span>
            <span class="play">Play</span>
        </a>

        <a>
            <span class="name">Civil Law Quiz</span>
            <span class="play">Play</span>
        </a>

        <a>
            <span class="name">A Level Spanish Quiz</span>
            <span class="play">Play</span>
        </a>

        <a>
            <span class="name">GCSE Geography Quiz</span>
            <span class="play">Play</span>
        </a>

    </div>
    
    <div class="explore_two_video-grid">

        <div class="explore_video-item">
            <a href="https://youtu.be/l1OkiI_29dg?list=PLp8BSCLLWBUBtATlFwiBu3x-g3lvemM38">
                <img src="~/css/profile_one.jpg" alt="Geography video" class="image3-image" />
            </a>
            <h3>Walking Safari</h3>
            <a href="#">Transcription</a>
        </div>

        <div class="explore_video-item">
            <a href="https://youtu.be/RjAOPEIlZc8?list=PLcWPAWkNIoiBq95negTUX46GBsoaqaIut">
                <img src="~/css/profile_two.jpg" alt="Marketing video" class="image4-image" />
            </a>
            <h3>Driving Safari</h3>
            <a href="#">Transcription</a>
        </div>

        <div class="explore_video-item">
            <a href="https://youtu.be/l1OkiI_29dg?list=PLp8BSCLLWBUBtATlFwiBu3x-g3lvemM38">
                <img src="~/css/profile_three.jpg" alt="Geography video" class="image5-image" />
            </a>
            <h3>Walking Safari</h3>
            <a href="#">Transcription</a>
        </div>

        <div class="explore_video-item">
            <a href="https://youtu.be/RjAOPEIlZc8?list=PLcWPAWkNIoiBq95negTUX46GBsoaqaIut">
                <img src="~/css/profile_four.jpg" alt="Marketing video" class="image6-image" />
            </a>
            <h3>Driving Safari</h3>
            <a href="#">Transcription</a>
        </div>

        <div class="explore_video-item">
            <a href="https://youtu.be/RjAOPEIlZc8?list=PLcWPAWkNIoiBq95negTUX46GBsoaqaIut">
                <img src="~/css/profile_five.jpg" alt="Marketing video" class="image6-image" />
            </a>
            <h3>Driving Safari</h3>
            <a href="#">Transcription</a>
        </div>

        <div class="explore_video-item">
            <a href="https://youtu.be/RjAOPEIlZc8?list=PLcWPAWkNIoiBq95negTUX46GBsoaqaIut">
                <img src="~/css/profile_six.jpg" alt="Marketing video" class="image6-image" />
            </a>
            <h3>Driving Safari</h3>
            <a href="#">Transcription</a>
        </div>

    </div>


</div>