@{
    ViewData["Title"] = "Home";
}

<!--Home bar-->

<div class="home_bar">
    <h6>Home</h6>
</div>

<div class="home_container">


    <!--Home image-->
    <div class="home_image">
        <img src="~/css/Home_image.jpg" alt="Panther looking onwards" class="image-image" />
    </div>

    <!--description-->
    <div class="home_content">
        <div class="home_section1">
            <h1>RIDGET ZOO ADVENTURES</h1>
            <h5>Book a Visit Today and Explore Beyond the Confines of the UK. We have Thousands of Animals That Cannot Wait to See You!</h5>
        </div>

        <!--Cross Bar-->
        <div class="home_section2_bar">
            <h5>WILD ADVENTURES</h5>
            <h5>SUPPORT CONSERVATION</h5>
            <h5>THOUSANDS OF ANIMALS</h5>
            <h5>OVERNIGHT IMMERSION</h5>
        </div>
        
        <!--Box-->
        <div class="homebox_container">
            <div class="homebox">
                <div class="homebox_text">
                    <h4>Unforgettable Experiences Await You in Each Habitat... and there are Alot!</h4>
                </div>

            </div>
        </div>

        <!--Paragraph Section-->
        <div class="home_section3">
            <h2>About Ridget Zoo Adventures</h2>
            <p>Step into a World of Untamed Beauty, Where Exotic Animals Roam. Our Zoo is Designed to Spark Curiosity and Create Lifelong Memories. So if you are here to marvel at Majestic Lions, Get Face to Face with playfull Meerkats, or Embark on an Awe-inspiring Driven Safari, this is The Place For You!</p>
        </div>

        <!--3 box grid-->
        <div class="home_video-grid">

            <div class="home_video-item">
                
                <h3>GET CLOSER THAN EVER</h3>
                <a href="#">With our meet and greet for our friendly wild animals who can't wait to meet you</a>
            </div>

            <div class="home_video-item">
                
                <h3>DON'T MISS OUT</h3>
                <a href="#">Become a member today with our selection of annual passes</a>
            </div>

            <div class="home_video-item">
                
                <h3>DISCOVER WHAT'S HERE</h3>
                <a href="#">Read up and discover amazing possibilities available only at RZA</a>
            </div>

        </div>
    </div>
</div>