@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--Home bar-->
<div class="home_bar">
    <h6>Plan</h6>
</div>

<!--Side bar with list of pages-->

<nav class="bar">

    <ul>

        <div class="toggle">
            <span class="top_line common"></span>
            <span class="middle_line common"></span>
            <span class="bottom_line common"></span>
        </div>

        <h1>On this Page</h1>

        <li><a href="/Home/Dashboard">Opening Times</a></li>
        <li><a href="/Home/Resources">Map</a></li>
        <li><a href="/Home/Quizzes">Food & Drink</a></li>
        <li><a href="/Home/Discussion_Forum">Stay</a></li>



    </ul>


</nav>

<img src="~/css/plan_image.jpg" alt="lion with cub" class="plan_image" />

<div class="internal_page">
    
    <div class="dfbox_container">
        <div class="dfbox">
            <div class="dfbox_text">
                <h1>Plan Your Trip!</h1>
                <h2>Opening Times:</h2>
                <h5>Sunday - Thursday:   Opening - 10am | Closing - 4pm</h5>
                <h5>Friday - Saturday:   Opening - 10am | Closing - 5pm</h5>
                <h5>Peak times: April - September</h5>
                <h5>Regular times: October - March</h5>
            </div>
        </div>
    </div>

    <h2>With our huge number of attractions it may be hard to locate </h2>

    <div class="plan_grid">

        <div class="plan_item">
            <a href="https://youtu.be/l1OkiI_29dg?list=PLp8BSCLLWBUBtATlFwiBu3x-g3lvemM38">
                <img src="~/css/walking_safari.jpg" alt="Geography video" class="image1-image" />
            </a>
            <h3>Have you downloaded our map?</h3>
        </div>
    </div>

   


</div>