@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--Home bar-->

<div class="home_bar">
    <h6>Quizzes</h6>
</div>

<!--Side bar with list of pages-->

<nav class="bar">

    <ul>

        <div class="toggle">
            <span class="top_line common"></span>
            <span class="middle_line common"></span>
            <span class="bottom_line common"></span>
        </div>

        <h1>Menu</h1>

        <li><a href="/Home/Dashboard">Dashboard</a></li>
        <li><a href="/Home/Resources">Resources</a></li>
        <li><a href="/SessionsDBs/Index">Sessions</a></li>
        <li><a href="/Home/Quizzes">Quizzes</a></li>
        <li><a href="/Home/Discussion_Forum">Discussion Forum</a></li>
        <li><a href="/CoursesDBs/Index">Courses</a></li>



    </ul>


</nav>

<div class="internal_page">
    
    <div class="quiz">

        <ul>


            <h2>‧₊˚✧Select a quiz bellow✧˚₊‧</h2>
            <li>
                <span class="name">A level Business Quiz</span>
                <span class="play">Play</span>
            </li>

            <li>
                <span class="name">A level Mathematics Quiz</span>
                <span class="play">Play</span>
            </li>

            <li>
                <span class="name">GCSE Computer Science Quiz</span>
                <span class="play">Play</span>
            </li>

            <li>
                <span class="name">Classicism Art Quiz</span>
                <span class="play">Play</span>
            </li>

            <li>
                <span class="name">Civil Law Quiz</span>
                <span class="play">Play</span>
            </li>

            <li>
                <span class="name">A Level Spanish Quiz</span>
                <span class="play">Play</span>
            </li>

            <li>
                <span class="name">GCSE Geography Quiz</span>
                <span class="play">Play</span>
            </li>


        </ul>



    </div>
    
</div>