@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--Home bar-->

<div class="home_bar">
    <h6>Sessions</h6>
</div>

<!--Side bar with list of pages-->

<nav class="bar">

    <ul>

        <div class="toggle">
            <span class="top_line common"></span>
            <span class="middle_line common"></span>
            <span class="bottom_line common"></span>
        </div>

        <h1>On this Page</h1>

        <li><a href="/Home/Resources">Our Lodges</a></li>
        <li><a href="/Home/Dashboard">About Your Stay</a></li>
        <li><a href="/Home/Sessions">FAQ's & Prices</a></li>
        <li><a href="/Home/Quizzes">Plan</a></li>




    </ul>


</nav>

<img src="~/css/lodge_top.jpg" alt="Lodge from above" class="lodge_top">

<div class="internal_page">

    
    <div class="font_border">
        <h1>Here are the Premium Lodges we have to Offer:</h1>
        <p>The wild landscapes you have been dreaming of are closer to home than you may have imagined</p>

    </div>
    


    <div class="video-grid">

        
        <div class="video-item">
            <a href="/StayDB/Create">
                <img src="~/css/lodge_jaguar.jpg" alt="Electronics video" class="image5-image" />
            </a>
            <h3>Jaguar Lodge</h3>
        </div>

        <div class="video-item">
            <a href="/StayDB/Create">
                <img src="~/css/lodge_giraffe.jpg" alt="Marketing video" class="image2-image" />
            </a>
            <h3>Giraffe Lodge</h3>
        </div>

        <div class="video-item">
            <a href="/StayDB/Create">
                <img src="~/css/lodge_zebra.jpg" alt="Business video" class="image3-image" />
            </a>
            <h3>Zebra Lodge</h3>
        </div>

        <div class="video-item">
            <a href="/StayDB/Create">
                <img src="~/css/lodge_elefant.jpg" alt="Mathematics video" class="image4-image" />
            </a>
            <h3>Elefant Lodge</h3>
        </div>

        <div class="video-item">
            <a href="/StayDB/Create">
                <img src="~/css/lodge_tiger.jpg" alt="Geography video" class="image1-image" />
            </a>
            <h3>Tiger Lodge</h3>
        </div>

        <div class="video-item">
            <a href="/StayDB/Create">
                <img src="~/css/lodge_meerkat.jpg" alt="Physics video" class="image6-image" />
            </a>
            <h3>Meerkat Lodge</h3>
        </div>

    </div>

    <div class="about_stay">
        <h1>About Your Stay</h1>
        <h2>
            An overnight experience unlike any other <br />
            Wild animals right outside your doorstep
        </h2>

        <p>Prices start from £495 per night, based on two people staying, Additional guests include an extra rate.</p>


        <p>Accessability: <br />We want everyone to experience the intimacy with nature through our lodges, thus we made sure they are all wheelchair friendly. Should you need any more enhancements please contact our email: </p>

    
        <div class="book_bar">
            <h5>LODGE OVERNIGHT STAY</h5>
            <h5>RZA ADMISSION TICKET</h5>
            <h5>MICHELIN STYLE MEALS</h5>
        </div>

    
        <div class="plan_stay">
            <h3>Plan Your Stay</h3>
            <p>Arive at RZA and head to reception, here you will be welcomed open armed and be given an advised check-in time.<br />Once your luggage has been deposited it is all in your hands, run wild in the zoo, with acess to our safari vehicles for your convinience, or do some animals spotting from the luxury of your room. <br />End the day with a luxury dining experience from 6.00 pm, choose from our micheline style dishes inspired from the habitats of our animals and made with love. <br />End the day relaxing in your lodge, don't forget to say goodnight to the animals at your doorstep!<br />On your departure day, inform yourself on the check-out time, the adventure does not end there, we have many experiences on offer in which you can take advantage of with your RZA Passes which are still valid for the day.</p>


        </div>


    </div>

    

</div>
