@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Tickets";

}

<!--Home bar-->
<div class="home_bar" xmlns="http://www.w3.org/1999/html">
    <h6>Tickets</h6>
</div>

<!--Side bar with list of pages-->
<nav class="bar">

    <ul>

        <div class="toggle">
            <span class="top_line common"></span>
            <span class="middle_line common"></span>
            <span class="bottom_line common"></span>
        </div>

        <h1>Menu</h1>

        <li><a href="/Home/Tickets">Tickets We Offer blabla</a></li>
        <li><a href="/Home/Tickets">Zoo Ticket</a></li>
        <li><a href="/Home/Tickets">Educational Visit</a></li>
        <li><a href="/Home/Tickets">Hotel Stays</a></li>
        <li><a href="/Home/Tickets">Clubcard Discounts</a></li>
        <li><a href="/Home/Tickets">Year Pass - Gold</a></li>
        <li><a href="/Home/Tickets">Year Pass - Silver</a></li>
    </ul>
</nav>

<!--Top image-->
<img src="~/css/plan_image.jpg" alt="lion with cub" class="plan_image">

<div class="internal_page">

    <!--Header-->
    <h1>RIDGET ZOO TICKETS</h1>
    <p>View our Selection of Tickets here <br />Book in Advance for the Best Prices!</p>

    <!--Sort Ticket Types-->
    <div class="sort">
        <div class="col text-end">
            <button class="btn btn-lg p-1 no-focus-effect" type="button">
                <i class="fa fa-thin fa-grip-lines text-light-grey"></i>
            </button>
            <button class="btn btn-lg p-1 no-focus-effect" type="button">
                <i class="fa fa-thin fa-grip-horizontal text-black"></i>
            </button>
            <select class="form-select form-select-sm w-50 d-inline-block">
                <option value="Recommended" selected>Recommended</option>
                <option value="Price">Price</option>
            </select>
        </div>
    </div>

    <!--Ticket Availability Calendar Check-->
    <div class="availability_check">
        <div class="row ps-2 pt-2 pb-0 m-0">
            <a class="col-auto ms-3 me-2 mt-2 mb-0 p-0 text-decoration-none text-grey" href="/Home/Stay">
                <i class="fa fa-thin fa-door-open"></i>
                <p class="d-inline-block inter subtitle-base">Rooms</p>
            </a>
            <a class="col-auto ms-2 mt-2 mb-0 p-0 text-decoration-underline text-primary link-offset-3" href="#">
                <i class="fa fa-thin fa-ticket text-decoration-underline link-offset-3"></i>
                <p class="d-inline-block inter subtitle-base text-decoration-underline link-offset-3">Tickets</p>
            </a>
        </div>
        <hr class="m-0" />
        <div class="row">
            <div class="col accept-policy ms-5 d-flex">
                <div class="me-2">
                    <label for="start_date" class="inter subtitle-base bold">Visit Date</label>
                    <input id="start_date" type="date" class="form-control inter body-base">
                </div>
            </div>
        </div>
    </div>

    <!--Grid Layout of Ticket Types-->
    <div class="video-grid">

        <div class="video-item">
            <a href="/BookDB/Create">
                <img src="~/css/zoo_ticket.jpg" alt="Zoo Visitors Watching Elefant" class="image1-image" />
            </a>
            <h3>Zoo Ticket</h3>
            <h5>Book your ticket today and explore the zoo</h5>
            <p>From £20 / pp</p>
        </div>
        
        <div class="video-item">
            <a href="/BookDB/Create">
                <img src="~/css/education_page.jpg" alt="Students Playing Tug of War" class="image2-image" />
            </a>
            <h3>Educational Visit</h3>
            <h5>Educate and Inspire the minds of the future with a class trip</h5>
            <p>From £16 / pp</p>
        </div>

        <div class="video-item">
            <a href="/StayDB/Create">
                <img src="~/css/Stay_ticket.jpg" alt="Relaxing Lodge Stay" class="image3-image" />
            </a>
            <h3>Hotel Stays</h3>
            <h5>Indulge in this immersive overnight stay with exotic animals just at your doorstep</h5>
            <p>From £350 / pp</p>
        </div>

        <div class="video-item">
            <a href="/BookDB/Create">
                <img src="~/css/Zoo_ticket_image.jpg" alt="Clubcard Discount Giraffe" class="image6-image" />
            </a>
            <h3>Clubcard Discounts</h3>
            <h5>Do you have a clubcard? Then explore the amazing deals we have on offer, go on a wild adventure and create lasting memories for amazing prices</h5>
        </div>

        <div class="video-item">
            <a href="/BookDB/Create">
                <img src="~/css/Gold_pass.jpg" alt="Gold Pass Image" class="image4-image" />
            </a>
            <h3>Year Pass - Gold</h3>
            <h5>Become one of our Gold members and recieve exciting benefits - Just add it to the your booking and take advantage of all the exclusivities we have to offer</h5>
        </div>

        <div class="video-item">
            <a href="/BookDB/Create">
                <img src="~/css/silver_pass.jpg" alt="Silver Pass Image" class="image5-image" />
            </a>
            <h3>Year Pass - Silver</h3>
            <h5>Become one of our Silver members and receve exciting benefits - Select your pass at the checkout and experience RZA through breathtaking experiences unique to you</h5>
        </div>
    </div>
</div>
