@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Tickets";

}

<!--Home bar-->


<div class="home_bar">
    <h6>Tickets</h6>
</div>

<!--Side bar with list of pages-->

<nav class="bar">

    <ul>

        <div class="toggle">
            <span class="top_line common"></span>
            <span class="middle_line common"></span>
            <span class="bottom_line common"></span>
        </div>

        <h1>Menu</h1>

        <li><a href="/Home/Tickets">Tickets We Offer</a></li>
        <li><a href="/Home/Tickets">Zoo Ticket</a></li>
        <li><a href="/Home/Tickets">Educational Visit</a></li>
        <li><a href="/Home/Tickets">Hotel Stays</a></li>
        <li><a href="/Home/Tickets">Clubcard Discounts</a></li>
        <li><a href="/Home/Tickets">Year Pass - Gold</a></li>
        <li><a href="/Home/Tickets">Year Pass - Silver</a></li>
        



    </ul>


</nav>

<div class="internal_page">

    <h1>RIDGET ZOO TICKETS</h1>
    <p>View our Selection of Tickets here <br />Book in Advance for the Best Prices!</p>



    <div class="video-grid">

        <div class="video-item">
            <a href="/BookDB/Create">
                <img src="~/css/zoo_ticket.jpg" alt="Zoo Visitors Watching Elefant" class="image1-image" />
            </a>
            <h3>Zoo Ticket</h3>
            <p>Book your ticket today and explore the zoo</p>
        </div>

        <div class="video-item">
            <a href="/BookDB/Create">
                <img src="~/css/education_page.jpg" alt="Students Playing Tug of War" class="image2-image" />
            </a>
            <h3>Educational Visit</h3>
            <a href="#">Educate and Inspire the minds of the future with a class trip</a>
        </div>

        <div class="video-item">
            <a href="/StayDB/Create">
                <img src="~/css/Stay_ticket.jpg" alt="Relaxing Lodge Stay" class="image3-image" />
            </a>
            <h3>Hotel Stays</h3>
            <a href="#">Indulge in this immersive overnight stay with exotic animals just at your doorstep</a>
        </div>

        <div class="video-item">
            <a href="/BookDB/Create">
                <img src="~/css/Zoo_ticket_image.jpg" alt="Clubcard Discount Giraffe" class="image6-image" />
            </a>
            <h3>Clubcard Discounts</h3>
            <a href="#">Do you have a clubcard? Then explore the amazing deals we have on offer, go on a wild adventure and create lasting memories for amazing prices</a>
        </div>

        <div class="video-item">
            <a href="/BookDB/Create">
                <img src="~/css/Gold_pass.jpg" alt="Gold Pass Image" class="image4-image" />
            </a>
            <h3>Year Pass - Gold</h3>
            <a href="#">Become one of our Gold members and recieve exciting benefits - Just add it to the your booking and take advantage of all the exclusivities we have to offer</a>
        </div>

        <div class="video-item">
            <a href="/BookDB/Create">
                <img src="~/css/silver_pass.jpg" alt="Silver Pass Image" class="image5-image" />
            </a>
            <h3>Year Pass - Silver</h3>
            <a href="#">Become one of our Silver members and receve exciting benefits - Select your pass at the checkout and experience RZA through breathtaking experiences unique to you</a>
        </div>


    </div>


    
    

</div>
