html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/*new font*/
body {
    font-family: Impact, Haettenschweiler, 'Arial', sans-serif;
    margin: 0;
    margin-bottom: 60px;
    background-color: #CACFC4;
}


/*personalised nav bar*/
.navbar{
  background-color: #130629 ;
}

.container-fluid {
  background-color: #130629;
}

.highlight_1 {
  color: #ffffff;
}

/*Change brand name to add brand identity*/
.highlight {
    color: #8a77c4;
}

.nav-item {
  text-decoration: underline;
    color: white;
}

.nav-link text-light{
    color: white;
}

.home_container {
    width: 100%;
    margin: auto;
}

.index {
    background-color: #77c4b0;
}

/*Additional nav bar to identify pages*/
.home_bar {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    background: #2a3f09;
    color: #ffffff;
    border: 2px solid #2a3f09;
}

.home_image {
    width: 100%;
    height: auto; /*400px*/
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
}

.image-image {
    width: 180vh;
    height: auto;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    display: block;
    left: 0;
    
}


.content {
    background-color: #ffffff;
    padding: 20px 20px;
    margin-top: 145px;
    color: #000;
    width: 100%;
}

.home_section1 {
    text-align: center;
    margin-top: 20px;
}

.home_section1 h1 {
    color: #c49e32;
    font-size: 115px;
}

/*thick bar across homepage*/
.home_section2_bar {
    background-color: #2a3f09;
    position: absolute;
    left: 0;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
}

.home_section2_bar h5{
    margin: 0;
    color: #fff;
}


/*Box containing text and image*/
.homebox_container{
    display: flex;
    justify-content: center;
    margin-top: 270px;
}

.homebox {
    width: 80%;
    display: flex;
    background-color: #D4B355;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.homebox_text {
    flex: 1;
    padding: 70px 50px;

}

.homebox_text h4 {

    font-size: 40px;
    text-align: center;
    margin: 0;
    color: #0c4128;
}

.home_section3 {
    text-align: center;
    margin-top: 50px;
}

.home_section4 {
    text-align: center;
    margin-top: 50px;
}

h2 {
  font-size: 20px;
}

.highlight {
  color: #8a77c4;
}


.home_video-grid {
    display: flex;
    flex-wrap: wrap;
    gap:50px;
    padding: 20px;
    justify-items: center;
}

.home_video-item {
    text-align: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    max-width: 30%;
    width: calc(50% - 20px);
}

.home_video-item h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.home_video-item a {
    text-decoration: none;
    color: #c49e32;
    font-weight: bold;
    transition: color 0.3s;
}

.home_video-item a:hover {
    color: #2a3f09;
}


/* Container for Login Content */
/*Background Image Styling*/
.login_content {
    position: relative;
    left: 0;
    top: -73px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.login_text {
    position: absolute;
    top: 150px;
    left: 10px;
}

.login_image {
    position: absolute;
    top: 80px;
    width: 150%;
    left: -200px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    margin: 0;
    padding: 0;
    display: block;
    z-index: 0;
    opacity: 0.6;
}



/* Container for Register Content */
/*Background Image Styling*/
.register_content {
    position: relative;
    left: 0;
    top: -73px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.register_text {
    position: absolute;
    top: 150px;
    left: 10px;
}

.register_image {
    position: absolute;
    top: 80px;
    width: 150%;
    left: -200px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    margin: 0;
    padding: 0;
    display: block;
    z-index: 0;
    opacity: 0.6;
}


/* Container for Booking Content */
/*Background Image Styling*/
.book_content {
    position: relative;
    left: 0;
    top: -73px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.book_item {
    position: absolute ;
    top: 150px;
    left:0;
    align-content: center;
}

.book_image {
    position: absolute;
    top: 80px;
    width: 150%;
    left: -200px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    margin: 0;
    padding: 0;
    display: block;
    z-index: 0;
    opacity: 0.6;
}


/* Container for Booking Content */
/*Background Image Styling*/
.ticket_content {
    position: relative;
    left: 0;
    top: -73px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.ticket_text {
    position: absolute;
    top: 150px;
    left: 0%;
    width: 1000px;
}

.ticket_image {
    position: absolute;
    top: 80px;
    width: 150%;
    left: -200px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    margin: 0;
    padding: 0;
    display: block;
    z-index: 0;
    opacity: 0.6;
}

/*side bar with different pages*/
.bar {
    background-color: #2a3f09;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    height: 450%;
    width: 250px;
    position: absolute;
    transition: 0.5s ease;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    left: 0;
    top: 80px;
}

.bar h1 {
    font-size: 18px;
    color: #ffff;
    font-weight: 200;
    text-align: right;
    padding: 25px 0;
    padding-left: 20px;
    pointer-events: none;
}

.bar ul li{
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

.bar ul li a {
    color: #ffff;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}

.bar ul li:hover a {
    color: #c49e32;
    background-color: #ffff;
    display: inline-block;
    padding: 5px 10px;
    transition: background-color 0.3s;
}


.toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: #2a3f09;
}

.toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #ffff;
    border-radius: 50px;
    transform: translate(-50%,-50%)
}

.toggle .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*Position pages to fit within sidebar*/
.internal_page {
    position: absolute;
    left: 25%;
    top: 150px;
    text-align: center;
}

.internal_page h1 {
    color: #c49e32
}

.availability_check {
    background-color: #ffffff;
    color: black;
    width: 95%;
    height: 8em;
    margin-top: 15px;
    border-radius: 20px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    justify-items: center;
}

.availability_check p {
    color: #0f5132;
}

/*Align videos with page*/
.video-grid {

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.video-item {
    text-align: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    max-width: 500px;
    width: calc(50% - 20px);
}

.video-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.video-item h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #2a3f09;
}

.video-item a {
    text-decoration: none;
    color: #2a3f09;
    font-weight: bold;
    transition: color 0.3s;
}

.video-item a:hover {
    color: #c49e32;
}

.Book_button {
    width: 250px;
    margin: 40px auto 30px;
    box-sizing: border-box;
    padding: 10px 10px;
    color: #c49e32; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    background: #2a3f09;
}

.Book_button :hover{
    transform: scale(1.1);
    background: #2a3f09;
}

.Book_button a{
    color: #c49e32;
    font-size: 20px;
}

.font_border {
    text-shadow:
            1px 1px 0 black,
            -1px -1px 0 ,
            1px -1px 0 black,
            -1px 1px 0 ;
}

.font_border {
    color: white;
}

.Explore_text {
    position: absolute;
}

.service_head {
    position: relative;
    top: 20px;

}


/*Quiz bars*/
.service_list {
    position: relative;
    width: 50%;
    top: -90px;
    /*bottom: 100px;*/
}

.service_list ul{
    position: absolute;
    width: 200%;
    margin: 100px auto 0;
    padding: 10px;
    box-sizing: border-box;
}

.service_list ul li{
    display: flex;
    background: #2a3f09;
    padding: 10px 20px;
    color: #c49e32;
    margin: 35px 0;
    transition: 0.5s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.service_list ul li span:nth-child(1){
    width: 100% ;
}

.service_tail {
    position: relative;
    top: 550px;
}

/*
.quiz ul li span:nth-child(2){
    background: #2a3f09;
    padding: 5px 20px;
}

.quiz ul li span:nth-child(3):hover{
    transform: scale(1.1);
    background: #2a3f09;
}
*/

.plan_image {
    position: absolute;
    left: 8%;
    width: 100%;
    height: auto;
    max-height: 30%; 
    object-fit: cover;
    top: 70px;
    z-index: -1;
}
    
.explore_video-grid {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.explore_two_video-grid {
    margin-top: 570px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.explore_video-item {
    position: relative;
    right: 0;
    text-align: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    max-width: 50%;
    width: calc(50% - 20px);
}

.explore_video-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.explore_video-item h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.explore_video-item h2 {
    margin: 10px;
    font-size: 40px;
    color: #c49e32;
}

.explore_video-item h5 {
    margin: 0px 0;
    font-size: 20px;
    color: #333;
}

.explore_video-item a {
    text-decoration: none;
    color: #2a3f09;
    font-weight: bold;
    transition: color 0.3s;
}

.explore_video-item a:hover {
    color: #c49e32;
}

.edu_top {
    position: absolute;
    left: 8%;
    /*width: auto;
    max-height: 50%;*/
    width: 100%;
    height: auto;
    min-height: 25%;
    object-fit: cover;
    top: -70px;
    z-index: -1;
}

.edu_video-grid {
    position: relative;
    display: flex;
    top: -50px;
    flex-wrap: wrap;
    gap:50px;
    padding: 20px;
    justify-items: center;
}

.edu_video-item {
    text-align: center;
    color: white;
    background-color: #c49e32;
    padding: 15px;
    margin: 30px auto 60px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    max-width: 29%;
    width: calc(50% - 20px);
}

.edu_video-item h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #fff;
}

.edu_video-item a {
    text-decoration: none;
    color: #2a3f09;
    font-weight: bold;
    transition: color 0.3s;
}

.edu_video-item p {
    color: #000;
}


.edu_video-item a:hover {
    color: #c49e32;
}

.lodge_top {
    position: absolute;
    left: 8%;
    /*width: auto;
    max-height: 50%;*/
    width: 100%;
    height: auto;
    min-height: 20%;
    object-fit: cover;
    
    top: -70px;
    z-index: -1;
}


.about_stay {
    background-color: #fff;
    position: relative;
    left: 0;
    width: 90%;
    height: auto;
    display: inline-block;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    align-items: center;
}

.about_stay h1{
    font-size: 52px;
}

.about_stay h2{
    color: #2a3f09;
}


.book_bar {
    background-color: #2a3f09;
    position: relative;
    left: 0;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.book_bar h5 {
    color: #c49e32;
}

.plan_stay {
    background-color: #130629;
    position: relative;
    left: 0;
    width: auto;
    height: auto;
    display: inline-block;
    padding: 30px;
    top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.plan_stay h3 {
    color: white;
}

.plan_stay p {
    color: white;
}

.book_text {
    text-align: center;
    color: #2a3f09;
    padding: 50px;

}

.book-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 100px 50px;
    justify-items: center;
    top: 40px;
}

.book-item {
    text-align: center;4
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    max-width: 500px;
    width: calc(50% - 20px);
}

.book-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.book-item h3 {
    margin: 10px 0;
    font-size: 50px;
    color: #333;
}

.book-item a {
    text-decoration: none;
    font-size: 20px;
    color: #c49e32;
    font-weight: bold;
    transition: color 0.3s;
}

.book-item a:hover {
    color: #c49e32;
}
