html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/*new font*/
body {
    font-family: Impact, Haettenschweiler, 'Arial', sans-serif;
    margin: 0;
    margin-bottom: 60px;
    background-color: #e6f2f1;
}

/*
    navy: #130629
    green: 2a3f09
    yellow: c49e32
    #e6f2f1
*/


/*personalised nav bar*/
.navbar{
  background-color: #130629 ;
}

.container-fluid {
  background-color: #130629;
}

.highlight_1 {
  color: #ffffff;
}

/*Change brand name to add brand identity*/
.highlight {
    color: #8a77c4;
}

.nav-item {
  text-decoration: underline;
    color: white;
}

.nav-link text-light{
    color: white;
}

.home_container {
    width: 100%;
    margin: auto;
}

.index {
    background-color: #77c4b0;
}

/*Additional nav bar to identify pages*/
.home_bar {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    background: #2a3f09;
    color: #ffffff;
    border: 2px solid #2a3f09;
}

.home_image {
    width: 100%;
    height: auto; /*400px*/
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
}

.image-image {
    width: 180vh;
    height: auto;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    display: block;
    left: 0;
    
}


.content {
    background-color: #77c4b0;
    padding: 20px 20px;
    margin-top: 145px;
    color: #000;
    width: 100%;
}

.home_section1 {
    text-align: center;
    margin-top: 50px;
}

/*thick bar across homepage*/
.home_section2_bar {
    background-color: #C2E5DC;
    position: absolute;
    left: 0;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
}

.home_section2_bar h5{
    margin: 0;
    color: #fff;
}

/*Box containing text and image*/
.homebox_container{
    display: flex;
    justify-content: center;
    margin-top: 270px;
}

.homebox {
    width: 80%;
    display: flex;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.homebox_text {
    flex: 1;
    padding: 110px 50px;
    text-align: right;
}

.homebox_text h4 {
    margin-top: 20px;
    color: #77c4b0;
    margin: 0;
}

.homebox_image {
    flex: 1;
}

.homebox_image img{
    width: 35vh;
    height: auto;
    object-fit: cover;
}

.home_section3 {
    text-align: left;
    margin-top: 50px;
}

.home_section4 {
    text-align: right;
    margin-top: 50px;
}

.home_illustration {
    float: right;
    width: 30%;
}

h2 {
  font-size: 20px;
}

.highlight {
  color: #8a77c4;
}

/*side bar with different pages*/
.bar {
    background-color: #77c4b0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: 250px;
    position: absolute;
    transition: 0.5s ease;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    left: 0;
    top: 80px;
}

.bar h1 {
  font-size: 18px;
  color: #ffff;
  font-weight: 200;
  text-align: right;
  padding: 25px 0;
  padding-left: 20px;
  pointer-events: none;
}

.bar ul li{
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

.bar ul li a {
    color: #ffff;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}

.bar ul li:hover a {
    color: #77c4b0;
    background-color: #ffff;
    display: inline-block;
    padding: 5px 10px;
    transition: background-color 0.3s;
}


.toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: #77c4b0;

}

.toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #ffff;
    border-radius: 50px;
    transform: translate(-50%,-50%)
}

.toggle .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.login-image {
    width: 50%;
    height: auto;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    display: block;
    position: absolute;
    right: 0;
    top: 80px;
}


.register-image {
    width: 50%;
    height: auto;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    display: block;
    position: absolute;
    right: 0;
    top: 80px;
}

.Login_text {
    position:absolute;
    top:100px;
}

.Register_text {
    position:absolute;
    top:120px;
}

/*Position pages to fit within sidebar*/
.internal_page {
    position: absolute;
    left: 25%;
    top: 150px;
}

.internal_page h1 {
    color: #8a77c4
}

/*Quiz bars*/
.quiz {
    position: absolute;
    bottom: 100px;
}

.quiz ul{
    position: absolute;
    width: 900px;
    margin: 100px auto 0;
    padding: 10px;
    box-sizing: border-box;
}

.quiz ul li{
    display: flex;
    background: #77c4b0;
    padding: 10px 20px;
    color: #fff;
    margin: 35px 0;
    transition: 0.5s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.quiz ul li span:nth-child(1){
    width: 900px ;
}

.quiz ul li span:nth-child(2){
    background: #B0DDD1;
    padding: 5px 20px;
}

.quiz ul li span:nth-child(2):hover{
    transform: scale(1.1);
    background: #a1d6c8;
}

/*chatbox for discussion forum*/
.chatbox{
    margin: 0px;
    width: 100%;
    height: 200%;
    border: 0px solid #77c4b0;
    box-shadow: 2px 5px 5px #77c4b0;
}

.chat_header{
    background-color: #77c4b0;
    color: #ffffff;
    padding: 10px;
    font-size: 18px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chat_window{
    height: 500px;
    overflow: scroll;
}

.message_list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.chat_input{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #77c4b0;
}

.message_input{
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
}

.send_button{
    border: none;
    outline: none;
    background: #333;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
}

.send_button:hover{
    background-color: #77c4b0;
    color: #ffff;
    box-shadow: 0 4px 18px 0 rgba(0,0,0, 0.25);
}
    
.dfbox_container{
    display: flex;
    justify-content: center;
}

/*discussion forum box header*/
.dfbox {
    width: 900px;
    display: flex;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.dfbox_text {
    flex: 1;
    padding: 20px;
}

.dfbox_text h1 {
    margin-bottom: 20px;
    color: #8a77c4;
    margin: 0;
} 

/*Align videos with page*/
.video-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.video-item {
    text-align: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    max-width: 500px;
    width: calc(50% - 20px);
}

.video-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.video-item h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.video-item a {
    text-decoration: none;
    color: #77c4b0;
    font-weight: bold;
    transition: color 0.3s;
}

.video-item a:hover {
    color: #8a77c4;
}
    